PORT=5000
NODE_ENV=development

MONGO_URI=mongodb+srv://michael:*********@cluster0.&&&&&&&&.mongodb.net/taskmanager?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=89bc4b321586b7ff82d9a50ab28ebb169debda39f8d166389be292af313*****************************************
JWT_EXPIRES_IN=7d
